@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  /* background-image: url("/background_bad_background.jpeg"); */
  background-color: #000;
  display: flex;
  flex-direction: column;
}

body * {
  font-family: "Roboto";
  text-overflow: clip;
  color: #eee;
}

h1 {
  margin-left: 40vw;
}

img {
  align-self: center;
  width: 100vw;
}

@media only screen and (max-width: 1365px) {
  h1 {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  img {
    width: 30vw;
  }
}

button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 2rem;
}
button:focus {
  border: none;
}

.yeehaw {
  color: #0f0;
  transition: 0.5s;
  animation-name: happy;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.cry {
  color: #f00;
  transition: 0.5s;
  animation-name: sad;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes happy {
  from {
    /* transform: rotateY(3deg); */
    transform: translateY(4px);
  }
  to {
    transform: translateY(-4px);
    /* transform: rotateY(-3deg); */
  }
}

@keyframes sad {
  from {
    transform: rotateY(3deg);
  }
  to {
    transform: rotateY(-3deg);
  }
}

#question {
  transition: 0.4s;
  font-size: 200%;
}

select {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 200%;
  text-align: center;
}

option {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}

#options {
  /* font-size: 120%; */
  font-size: 20px;
  text-align: center;
}

ol span {
  display: inline;
}

#popup {
  padding-top: 200px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  text-align: center;
}

#popup a {
  text-decoration: none;
}

#instructions {
  padding-top: 100px;
  text-align: center;
}
