@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  background: linear-gradient(
    hsl(27, 74%, 53%) 0 33vh,
    hsl(0, 0%, 100%) 33vh 66vh,
    hsl(113, 58%, 46%) 66vh 99vh
  );

  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;

  /* align-items: center;
  justify-content: center; */

  height: 100vh;

  color: #000;
  font-family: "Roboto";
}

.devnagri {
  font-family: "Poppins", Roboto, sans-serif;

  color: hsl(216, 51%, 49%);
  text-shadow: -2px 2px 7px hsl(216, 51%, 49%);
  font-size: 4rem;

  margin-top: 22vw;

  transition: 0.2s;
}
.devnagri:hover {
  transform: scale(1.1, 1.1);
}

.start {
  min-width: 30vw;
  /* min-width: min-content; */
  font-size: 2rem;

  background: hsl(0, 0%, 100%);
  border: 4px solid black;

  padding: 1rem;
  transition: 0.2s;

  display: block;
}
.start:hover {
  transform: scale(1.1, 1.1);

  box-shadow: 15px 15px 20px black;
}

#animateme {
  stroke-dasharray: 1945;
  stroke-dashoffset: 1945;

  animation: draw 4s ease;
  animation-fill-mode: forwards;
}

#linev1 {
  stroke-dasharray: 1945;
  stroke-dashoffset: 1945;

  animation: draw 10s ease;
  animation-fill-mode: forwards;
}

#v1 {
  stroke-dasharray: 1945;
  stroke-dashoffset: 1945;

  animation: draw 10s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#matra1 {
  stroke-dasharray: 1945;
  stroke-dashoffset: 1945;

  animation: draw 10s ease;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

#linev2 {
  stroke-dasharray: 1945;
  stroke-dashoffset: 1945;

  animation: draw 10s ease;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

#v2 {
  stroke-dasharray: 1945;
  stroke-dashoffset: 1945;

  animation: draw 10s ease;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

#dh {
  stroke-dasharray: 1945;
  stroke-dashoffset: 1945;

  animation: draw 10s ease;
  animation-fill-mode: forwards;
  animation-delay: 5.2s;
}

#m {
  stroke-dasharray: 1945;
  stroke-dashoffset: 1945;

  animation: draw 10s ease;
  animation-fill-mode: forwards;
  animation-delay: 6.9s;
}

#m-line {
  stroke-dasharray: 1945;
  stroke-dashoffset: 1945;

  animation: draw 10s ease;
  animation-fill-mode: forwards;
  animation-delay: 7.9s;
}

#final {
  stroke-dasharray: 1945;
  stroke-dashoffset: 1945;

  animation: draw 10s ease;
  animation-fill-mode: forwards;
  animation-delay: 9s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

svg {
  display: none;
}

/*
 play.html
*/

select {
  width: 90vw;
  height: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;

  padding-left: 1rem;

  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 25px;
  background-color: hsl(0, 0%, 100%);

  transition: 0.2s;
}

select:hover {
  box-shadow: 10px 10px 20px #555;
}

/* ask.html */
div#fact {
  width: 50vw;
  font-weight: 600;
  font-size: 1.2rem;

  color: hsl(216, 79%, 27%);
}
.gtquiz {
  width: 30vw;
  font-size: 2rem;
  background: hsl(0, 0%, 100%);
  border: 4px solid black;

  padding: 1rem;
  transition: 0.2s;
}
.gtquiz:hover {
  transform: scale(1.1, 1.1);

  box-shadow: 10px 10px 20px black;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  /* justify-items: center; */
  /* place-items: center; */

  height: 20vh;
  width: 100%;
  max-width: 80vw;
}
.options * {
  background-color: hsl(221, 81%, 37%);
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  display: block;
  min-width: 5vw;
  min-height: 5vh;

  text-align: center;

  margin-top: 2vh;
  margin-left: 2vw;
  padding-top: 1vh;

  transition: 0.2s;
  border-radius: 10px;
}

.options *:hover {
  box-shadow: 10px 10px 20px hsl(221, 81%, 37%);
}

/* Animation Classes */
.correct {
  animation-name: correct;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes correct {
  to {
    color: greenyellow;
    background-color: hsl(27, 100%, 45%);
  }
}

.wrong {
  animation-name: wrong;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes wrong {
  to {
    background-color: hsl(0, 59%, 53%);
  }
}

/* Score Popup */
.score-popup {
  display: none;

  width: 60vw;
  height: 40vw;

  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 25px;
  font-size: 2rem;
  text-align: center;
}
.visible {
  display: block;
}

body.wrong {
  animation-name: wrong-body;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes wrong-body {
  0% {
    transform: translate(-40px, -20px) rotate(-2deg);
  }

  50% {
    transform: translate(0px, 20px);
  }

  100% {
    transform: translate(50px, 0px) rotate(2deg);
  }
}

.prompt {
  color: #2824ea;
}
.prompt img {
  max-height: 50vh;
}
